[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypitunatsinghuaedu"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypitunatsinghuaedu"

[packages]
paddleocr = "*"
paddlepaddle-gpu = "*"
paddlepaddle = {version = "==2.4.1", index = "pypitunatsinghuaedu"}
pillow = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
